<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
          * {
            margin: 0px;
            padding: 0px;
            }
          </style>
<body>
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="#home" class="w3-bar-item w3-button"><b>ART</b> Show</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                    <div style="color: aliceblue; text-shadow: 2px 2px #000000; font-size: 25px;">Home</div>
                </a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Artsits" asp-action="Index">
                    <div style="color: aliceblue; text-shadow: 2px 2px #000000; font-size: 25px;">Artsits</div>
                </a>
                <a href="#about" class="w3-bar-item w3-button">About</a>
                <a href="#contact" class="w3-bar-item w3-button">Contact</a>
            </div>
        </div>
    </div>
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
        <img class="w3-image" src="https://h.top4top.io/p_198073dbk1.png" alt="Architecture" width="1500" height="800">
        <div class="w3-display-middle w3-margin-top w3-center">
            <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Art</b></span> <span class="w3-hide-small w3-text-light-grey">Show</span><br /> Artworks</h1>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
