<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Art Show</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
          * {
            margin: 0px;
            padding: 0px;
            }

        .BigImage {
            width: 100vw;
            height: 350vh;
            position: relative;
            background-image: url(https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg);
            background-size: cover;
            background-repeat: no-repeat;
             }
    </style>
</head>
<body>
    <div class="BigImage">
        <header>

                <nav class="navbar navbar-light" style="box-shadow: 3px 2px #0c4271; background-color: rgb(0,0,0,0.5);">
                    <div class="container">
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                            <div class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <div style="color: aliceblue; text-shadow: 2px 2px #000000; font-size: 25px;">Home</div></a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Artsits" asp-action="Index">
                                <div style="color: aliceblue; text-shadow: 2px 2px #000000; font-size: 25px;">Artsits</div></a>
                            </div>
                            <div class="nav-item">
                                <h1 class="text-info" style="text-shadow: 2px 2px #000000;"><b>ART</b>  Show</h1>
                            </div>
                        </div>
                    </div>
                </nav>
       </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
