@{
    var artWork = (List<ArtWorksModel>)ViewData["ArtWorks"];
    var Artists = (ArtsitsModel)ViewData["Artists"];
}
<table class="table table-hover" style="background-color: white; box-shadow: 5px 10px 18px #000000; ">
    @{ foreach (var artWorks in artWork)
        {
            if (artWorks.Id == Artists.Id)
            {
                <thead>
                    <tr>
                            <th> </th>
                        <th scope="col" style="color: #0c4271; font-size:30px">Title</th>   

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img style="width:300px; height:300px " src=@artWorks.Image alt="@artWorks.Image" /></td>
                        <td style="color: #064420; font-size: 20px ">  @artWorks.Title </td>
                    </tr>
                </tbody>
            }
        }
    }
</table>