@{
    var artWork = (ArtWorksModel)ViewData["ArtWorks"];
    var Artists = (List<ArtsitsModel>)ViewData["Artists"];
}
<table class="table table-hover" style="background-color: white; box-shadow: 5px 10px 18px #000000; ">
    @{ foreach (var artist in Artists)
        {
            if (artist.Id == artWork.ArtsitId)
            {
                <thead>
                    <tr>
                        <th> </th>
                        <th scope="col" style="color: #0c4271; font-size:30px">Title</th>
                        <th scope="col" style="color: #0c4271; font-size:30px">Price </th>
                         <th scope="col" style="color: #0c4271; font-size:30px">Artist Name</th>
                      </tr>
                </thead> 
                <tbody>
                    <tr>
                        <td><img style="width:300px; height:300px " src=@artWork.Image alt="@artWork.Image" /></td>
                        <td style="color: #064420; font-size: 20px ">  @artWork.Title </td>
                        <td style=" color: #064420;font-size:20px">@artWork.Price SR  </td>
                        <td style=" color: #064420;font-size:20px">@artist.Name  </td>

                    </tr>


                </tbody>
                }
            }
        }


    </table>